<md-card *ngIf="(deviceService.devices$ | async).length === 0">
  <md-card-title>No Devices</md-card-title> 
  <md-card-content>Any devices connected to your HomeJS system will appear here</md-card-content>
</md-card>
<md-card *ngFor="let device of (deviceService.devices$ | async)">
  <!--{{device | json}}-->
  <md-card-title>{{device.name || device.deviceID}}</md-card-title>
  <md-card-content>{{device.deviceType}}</md-card-content>
  <div *ngFor="let component of device.components; let i = index">
    <md-slide-toggle *ngIf="component.type === 'toggle'" color="accent" [(ngModel)]="component.controlState" (change)="toggle(device, i)"
      [mdTooltip]="'Slide to toggle ' + device.name || device.deviceID" mdTooltipPosition="right"></md-slide-toggle>
    <div *ngIf="component.type === 'mock-sensor'">{{component.controlState}}</div>
    <div *ngIf="component.type === 'sensor' && component?.units === 'celsius'"><strong>{{component.name}}:</strong> {{component.controlState}}&deg;C</div>
    <div *ngIf="component.type === 'sensor' && component?.units === 'percent'"><strong>{{component.name}}:</strong> {{component.controlState}}%</div>
  </div>
  <!--<button md-raised-button color="warn" (click)="deviceService.toggle(device, 'Test Component 1')">Off</button>-->
</md-card>

<!--<button md-raised-button color="warn" (click)="deviceService.add()">Add Stuff</button>-->
