<md-card *ngIf="devices.length === 0">
  <md-card-title>No Devices</md-card-title>
  <md-card-content>Any devices connected to your HomeJS system will appear here</md-card-content>
</md-card>
<md-card *ngFor="let device of devices">
  <md-card-title>{{device.name || device.deviceID}}</md-card-title>
  <md-card-content>{{device.deviceType}}</md-card-content>
  <div *ngFor="let component of device.components; let i = index">
    <md-slide-toggle *ngIf="component.type === 'toggle'" color="accent" [(ngModel)]="component.controlState" (change)="toggle(device, i)"
      [mdTooltip]="'Slide to toggle ' + device.name || device.deviceID" mdTooltipPosition="right"></md-slide-toggle>
    <app-sensor *ngIf="component.type === 'sensor'" [component]="component"></app-sensor>
  </div>
</md-card>