<md-card>
  <md-card-title>Login</md-card-title>
  <md-card-content>
    <form id="login-form" name="login-form" (ngSubmit)="login()" #f="ngForm" novalidate>
      <div><md-input-container>
        <input mdInput placeholder="username" name="username" [(ngModel)]="model.username"/>
      </md-input-container></div>
      <div><md-input-container>
        <input mdInput type="password" placeholder="password" name="password" [(ngModel)]="model.password"/>
      </md-input-container></div>
      <button md-raised-button [disabled]="loading" color="primary">Login</button>
    </form>
    <md-spinner *ngIf="loading"></md-spinner>
    <div *ngIf="error">{{error}}</div>
  </md-card-content>
</md-card>
<a href="/auth/google">Login with Google</a>
