<md-button-toggle-group #group="mdButtonToggleGroup" >
  <md-button-toggle value="month" [checked]="true">Month</md-button-toggle>
  <md-button-toggle value="week">Week</md-button-toggle>
  <md-button-toggle value="day">Day</md-button-toggle>
</md-button-toggle-group>

<div [ngSwitch]="group.value">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"></mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"></mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"></mwl-calendar-day-view>
</div>