<div class="flex-container">

  <span>
    <md-button-toggle-group #group="mdButtonToggleGroup" (change)="changeView($event.value)">
      <md-button-toggle value="month" [checked]="true">Month</md-button-toggle>
      <md-button-toggle value="week">Week</md-button-toggle>
      <md-button-toggle value="day">Day</md-button-toggle>
    </md-button-toggle-group>
  </span>

  <span class="fill"></span>

  <span>
    <md-button-toggle-group (change)="changeView(group.value)">
      <md-button-toggle mwlCalendarPreviousView [view]="group.value" [(viewDate)]="viewDate">Previous</md-button-toggle>
      <md-button-toggle mwlCalendarToday [(viewDate)]="viewDate">Today</md-button-toggle>
      <md-button-toggle mwlCalendarNextView [view]="group.value" [(viewDate)]="viewDate">Next</md-button-toggle>
    </md-button-toggle-group>
 </span>

</div>

<div [ngSwitch]="group.value">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"></mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"></mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"></mwl-calendar-day-view>
</div>

<!--<md-select placeholder="Select a Calendar" [(ngModel)]="selectedCalendar">
  <md-option *ngFor="let calendar of calendars" [value]="calendar">{{calendar?.summary}}</md-option>
</md-select>-->