<md-card>
  <md-card-title>Login</md-card-title>
  <md-card-content>
    <form id="login-form" name="login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div><md-input placeholder="username" name="username" [(ngModel)]="model.username" #username="ngModel" required></md-input></div>
      <div><md-input type="password" placeholder="password" name="password" [(ngModel)]="model.password" #password="ngModel" required></md-input></div>
      <div><button md-raised-button [disabled]="loading" color="primary">Login</button></div>
    </form>
    <md-spinner *ngIf="loading"></md-spinner>
    <div *ngIf="error">{{error}}</div>
  </md-card-content>
</md-card>