<div class="chatContainer">
  <md-card>
    <md-card-content>
      <md-input dividerColor="accent" placeholder="Send Message" [(ngModel)]="message"></md-input>
      <button md-raised-button color="accent" (click)="create()">Send</button>
    </md-card-content>
  </md-card>
  <md-card *ngFor="let message of (chatService.messages$ | async)?.data">
    <md-card-header>
      <img *ngIf="message.picture" md-card-avatar [src]="message.picture">
      <!--<md-card-title>{{message.user}}</md-card-title>-->
      <!--<md-card-subtitle>{{message.createdAt}}</md-card-subtitle>-->
    </md-card-header>
    <md-card-content>{{message.text}}</md-card-content>
  </md-card>
</div>