<div *ngIf="device">

  <h2>Create a action for {{device.name || device.deviceID}}</h2>
  <p>Define a trigger</p>

  <md-select placeholder="Trigger Component" [(ngModel)]="triggerComponent">
    <md-option *ngFor="let component of device.components" [value]="component">{{ component.name }}</md-option>
  </md-select>

  <md-select placeholder="Comparison" [(ngModel)]="selectedOperator">
    <md-option *ngFor="let operator of comparisonOperators" [value]="operator">{{ operator }}</md-option>
  </md-select>

  <md-input-container>
    <input mdInput placeholder="Trigger State" type="number" value="component.controlState" [(ngModel)]="triggerState">
  </md-input-container>

</div>

<div *ngIf="otherDevices">

  <h3>Create a target action</h3>

  <md-select placeholder="Target Device" [(ngModel)]="targetDevice">
    <md-option *ngFor="let otherDevice of otherDevices" [value]="otherDevice">{{ otherDevice.name || otherDevice.deviceID}}</md-option>
  </md-select>

  <md-select placeholder="Target Component" [(ngModel)]="targetComponent">
    <md-option *ngFor="let targetComponent of targetDevice?.components" [value]="targetComponent">{{ targetComponent.name }}</md-option>
  </md-select>

  <span [ngSwitch]="targetComponent?.controlState">
      <span *ngSwitchCase="'number'">
        <md-input-container>
          <input mdInput placeholder="Target State" type="number" value="0" [(ngModel)]="targetState">
        </md-input-container>
      </span>

  <span *ngSwitchDefault>
        <md-select placeholder="Target State" [(ngModel)]="targetState">
          <md-option [value]="true">true</md-option>
          <md-option [value]="false">false</md-option>
        </md-select>
      </span>
  </span>

  <button md-raised-button (click)="create()">Create</button>

</div>