.card-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;
  padding-top: 80px;
  overflow: auto;
}

md-sidenav {
  padding: 16px;
  padding-top: 80px;
  overflow: hidden;
}

.sidenav-layout { min-height: 100%; }

.toolbar {
  position: fixed;
  z-index: 1;
}