<md-toolbar color="primary" shadowOnScoll="atTop" class="toolbar">
	<button md-icon-button (click)="nav.toggle()">
			<md-icon>menu</md-icon>
		</button>
	<md-icon svgIcon="homejs"></md-icon>
	<span>HomeJS</span>
	<span class="fill"></span>
	<button *ngIf="authService?.currentUser?.google" md-button routerLink="/users">{{authService.currentUser.google.profile.displayName}}</button>
	<span *ngIf="authService?.currentUser?.google"><img [src]="(authService.user$ | async)?.google.profile.photos[0].value" class="avatar"></span>
	<button *ngIf="authService?.currentUser?.username" md-button routerLink="/users">{{authService.currentUser.username}}</button>
</md-toolbar>

<md-sidenav-container class="sidenav-container" (scroll)="scrolling($event)">
	
	<md-sidenav #nav mode="side">
		<div class="scrolling-content">
			<div *ngIf="authService.authenticated"><button md-button routerLink="/devices">Devices</button></div>
			<div *ngIf="authService.authenticated"><button md-button routerLink="/calendar">Calendar</button></div>
		</div>
	</md-sidenav>

	<div class="card-container scrolling-content">
		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>