<md-toolbar color="primary" shadowOnScoll="atTop" class="toolbar">
	<button md-icon-button (click)="nav.toggle()">
			<md-icon>menu</md-icon>
		</button>
	<md-icon svgSrc="/assets/homejs.svg"></md-icon>
	<span>HomeJS</span>
	<span class="fill"></span>
	<button md-button *ngIf="authService.currentUser" routerLink="/home">{{authService.currentUser.firstName}}</button>
	<span *ngIf="authService.currentUser?.picture"><img md-card-avatar [src]="authService.currentUser.picture"></span>
</md-toolbar>

<md-sidenav-layout class="sidenav-layout" (swipeleft)="nav.close()" (scroll)="scrolling($event)">
	<md-sidenav #nav mode="side">
		<div *ngIf="authService.currentUser"><button md-button routerLink="/charts">Charts</button></div>
		<div *ngIf="authService.currentUser"><button md-button routerLink="/lights">Lights</button></div>
		<div *ngIf="authService.currentUser"><button md-button routerLink="/maps">Map</button></div>
		<div *ngIf="authService.currentUser"><button md-button routerLink="/chat">Chat</button></div>
		<div *ngIf="authService.currentUser"><button md-button routerLink="/temperature">Temperature</button></div>
		<div *ngIf="authService.currentUser.admin"><button md-button routerLink="/debug">Debug</button></div>
		<div><button md-button routerLink="/todos">Todos</button></div>
		<!--<div *ngIf="authService.currentUser"><button md-button routerLink="/food-dispenser">Food Dispenser</button></div>-->
	</md-sidenav>

	<div class="card-container" >
		<router-outlet></router-outlet>
	</div>
</md-sidenav-layout>