<md-toolbar color="primary">
  <button md-icon-button><md-icon>menu</md-icon></button>
  HomeJS
</md-toolbar>

<button md-raised-button color="accent" (click)="backend.publish()">Toggle</button>

<!--<div>Red<md-slider min="0" max="1023" #red (slide)="backend.publishRGB(red.value, green.value, blue.value)"></md-slider></div>-->
<!--<div>Green<md-slider min="0" max="1023" #green (slide)="backend.publishRGB(red.value, green.value, blue.value)"></md-slider></div>-->
<!--<div>Blue<md-slider min="0" max="1023" #blue (slide)="backend.publishRGB(red.value, green.value, blue.value)"></md-slider></div>-->

<!--{{backend.devices$ | async | json}}-->
<!--{{backend.data$ | async | json}}-->